In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pickle
import pandas as pd
import os

In [9]:
with open("ba_big station list.pkl", "rb") as file:
    station_list = pickle.load(file)

In [2]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("BA_Turnstile_Combined.csv")

# Display the first few rows
df.head()

      FECHA     DESDE     HASTA   LINEA                       MOLINETE  \
0  1/4/2023  05:45:00  06:00:00  LineaH   LineaH_FDerecho_Norte_Turn05
1  1/4/2023  05:45:00  06:00:00  LineaH        LineaH_Patricios_Turn02
2  1/4/2023  05:45:00  06:00:00  LineaE           LineaE_Moreno_Turn02
3  1/4/2023  05:45:00  06:00:00  LineaH    LineaH_Caseros_Norte_Turn02
4  1/4/2023  05:45:00  06:00:00  LineaD  LineaD_Juramento_Oeste_Turn01

              ESTACION  pax_pagos  pax_pases_pagos  pax_franq  pax_TOTAL
0  Facultad de Derecho          1                0          0          1
1            Patricios          4                0          0          4
2    Jose Maria Moreno          2                0          0          2
3              Caseros          0                0          1          1
4            Juramento          1                0          0          1

In [3]:
df.head()

,FECHA,DESDE,HASTA,LINEA,MOLINETE,ESTACION,pax_pagos,pax_pases_pagos,pax_franq,pax_TOTAL
0,1/4/2023,05:45:00,06:00:00,LineaH,LineaH_FDerecho_Norte_Turn05,Facultad de Derecho,1,0,0,1
1,1/4/2023,05:45:00,06:00:00,LineaH,LineaH_Patricios_Turn02,Patricios,4,0,0,4
2,1/4/2023,05:45:00,06:00:00,LineaE,LineaE_Moreno_Turn02,Jose Maria Moreno,2,0,0,2
3,1/4/2023,05:45:00,06:00:00,LineaH,LineaH_Caseros_Norte_Turn02,Caseros,0,0,1,1
4,1/4/2023,05:45:00,06:00:00,LineaD,LineaD_Juramento_Oeste_Turn01,Juramento,1,0,0,1

In [4]:
# Group by date and station, summing total passengers
df_condensed = df.groupby(['FECHA', 'ESTACION'])['pax_TOTAL'].sum().reset_index()

# Display the first few rows of the new condensed DataFrame
print(df_condensed.head())

      FECHA        ESTACION  pax_TOTAL
0  1/1/2023      9 de julio        186
1  1/1/2023          Acoyte        827
2  1/1/2023          Ag√ºero        673
3  1/1/2023         Alberti        408
4  1/1/2023  Angel Gallardo       1056

In [6]:
# Convert 'FECHA' to datetime format if it's not already
df_condensed['FECHA'] = pd.to_datetime(df_condensed['FECHA'], dayfirst=True, errors='coerce')

# Sort by date in ascending order
df_condensed = df_condensed.sort_values(by='FECHA')

# Reset the index after sorting
df_condensed = df_condensed.reset_index(drop=True)

# Display the sorted DataFrame
print(df_condensed.head())

       FECHA    ESTACION  pax_TOTAL
0 2023-01-01  9 de julio        186
1 2023-01-01     Piedras        350
2 2023-01-01   Pichincha        362
3 2023-01-01        Peru        452
4 2023-01-01   Patricios        746

In [8]:
import pandas as pd

# Generate a full range of dates for 2023
full_dates = pd.date_range(start="2023-01-01", end="2023-12-31")

# Extract unique dates from df_condensed
existing_dates = pd.to_datetime(df_condensed['FECHA'].unique())

# Find missing dates
missing_dates = full_dates.difference(existing_dates)

# Print missing dates
print("Missing dates in 2023:")
print(missing_dates)

Missing dates in 2023:
DatetimeIndex(['2023-08-13'], dtype='datetime64[ns]', freq='D')

In [11]:
# Convert station names to uppercase
df_condensed['ESTACION'] = df_condensed['ESTACION'].str.upper()

# Display the modified DataFrame
print(df_condensed.head())

       FECHA    ESTACION  pax_TOTAL
0 2023-01-01  9 DE JULIO        186
1 2023-01-01     PIEDRAS        350
2 2023-01-01   PICHINCHA        362
3 2023-01-01        PERU        452
4 2023-01-01   PATRICIOS        746

In [12]:
# Get unique station names, convert to a sorted list
unique_stations = sorted(df_condensed['ESTACION'].unique())

# Print the list
print("\nUnique Station Names:")
for station in unique_stations:
    print(station)

Unique Station Names:
9 DE JULIO
ACOYTE
AG√úERO
ALBERTI
ANGEL GALLARDO
AVENIDA DE MAYO
AVENIDA LA PLATA
BOEDO
BOLIVAR
BULNES
CALLAO
CALLAO.B
CARABOBO
CARLOS GARDEL
CARLOS PELLEGRINI
CASEROS
CASTRO BARROS
CATALINAS
CATEDRAL
CONGRESO
CONGRESO DE TUCUMAN
CONSTITUCION
CORDOBA
CORREO CENTRAL
CORRIENTES
DIAGONAL NORTE
DORREGO
ECHEVERRIA
EMILIO MITRE
ENTRE RIOS
FACULTAD DE DERECHO
FACULTAD DE MEDICINA
FEDERICO LACROZE
FLORES
FLORIDA
GENERAL BELGRANO
GENERAL SAN MARTIN
HOSPITALES
HUMBERTO I
INCLAN
INDEPENDENCIA
INDEPENDENCIA.H
JOSE HERNANDEZ
JOSE MARIA MORENO
JUJUY
JURAMENTO
LAS HERAS
LAVALLE
LEANDRO N. ALEM
LIMA
LORIA
LOS INCAS
MALABIA
MARIANO MORENO
MEDALLA MILAGROSA
MEDRANO
MINISTRO CARRANZA
OLLEROS
ONCE
PALERMO
PASCO
PASTEUR
PATRICIOS
PERU
PICHINCHA
PIEDRAS
PLAZA DE MAYO
PLAZA ITALIA
PLAZA MISERERE
PRIMERA JUNTA
PUAN
PUEYRREDON
PUEYRREDON.D
PZA. DE LOS VIRREYES
RETIRO
RETIRO E
RIO DE JANEIRO
ROSAS
SAENZ PE√ëA
SAN JOSE
SAN JUAN
SAN PEDRITO
SANTA FE
SCALABRINI ORTIZ
TRIBUNALES
TRONADOR
URQUIZA
URUGUAY
VARELA
VENEZUELA

In [13]:
station_list

['9 DE JULIO',
 'ACOYTE',
 'AGUERO',
 'ALBERTI',
 'ANGEL GALLARDO',
 'AV. DE MAYO',
 'AV. LA PLATA',
 'BELGRANO',
 'BOEDO',
 'BULNES',
 'CALLAO',
 'CALLAO - MAESTRO ALFREDO BRAVO',
 'CARABOBO',
 'CARLOS GARDEL',
 'CASEROS',
 'CASTRO BARROS',
 'CATALINAS',
 'CATEDRAL',
 'CONGRESO',
 'CONGRESO DE TUCUMAN',
 'CONSTITUCION',
 'CORDOBA',
 'CORRIENTES',
 'DE LOS INCAS PARQUE CHAS',
 'DORREGO',
 'ECHEVERRIA',
 'EMILIO MITRE',
 'ENTRE RIOS RODOLFO WALSH',
 'F. LACROZE',
 'FACULTAD DE DERECHO JULIETA LANTERI',
 'FACULTAD DE MEDICINA',
 'FLORIDA',
 'GENERAL SAN MARTIN',
 'GRAL. URQUIZA',
 'HOSPITALES',
 'INCLAN MEZQUITA AL AHMAD',
 'INDEPENDENCIA',
 'JOSE HERNANDEZ',
 'JOSE MARIA MORENO',
 'JUAN MANUEL DE ROSAS VILLA URQUIZA',
 'JUJUY',
 'JURAMENTO',
 'LAS HERAS',
 'LAVALLE',
 'LEANDRO N. ALEM',
 'LORIA',
 'MALABIA O. PUGLIESE',
 'MEDALLA MILAGROSA',
 'MEDRANO ALMAGRO',
 'MORENO',
 'MTRO CARRANZA MIGUEL ABUELO',
 'OLLEROS',
 'PALERMO',
 'PARQUE PATRICIOS',
 'PASCO',
 'PASTEUR AMIA',
 'PICHINCHA',
 'PIEDRAS',
 'PLAZA DE LOS VIRREYES EVA PERON',
 'PLAZA DE MAYO CASA ROSADA',
 'PLAZA ITALIA',
 'PLAZA MISERERE',
 'PRIMERA JUNTA',
 'PUAN',
 'RETIRO',
 'RIO DE JANEIRO',
 'SAENZ PENA',
 'SAN JOSE',
 'SAN JOSE DE FLORES',
 'SAN JUAN',
 'SAN PEDRITO',
 'SANTA FE CARLOS JAUREGUI',
 'SCALABRINI ORTIZ',
 'TRIBUNALES TEATRO COLON',
 'TRONADOR VILLA ORTUZAR',
 'URUGUAY',
 'VARELA',
 'VENEZUELA']

In [19]:
import pandas as pd

# Make a copy of df_condensed to avoid modifying the original
fixed_df = df_condensed.copy()

# Define the station name corrections (merging certain names into their correct counterparts)
station_merges = {
    "PUEYRREDON.D": "SANTA FE CARLOS JAUREGUI",
    "PUEYRREDON": "CORRIENTES",
    "CALLAO.B": "CALLAO - MAESTRO ALFREDO BRAVO",
    "PERU": "CATEDRAL",
    "BOLIVAR": "CATEDRAL",
    "LIMA": "AV. DE MAYO",
    "INDEPENDENCIA.H": "INDEPENDENCIA",
    "CARLOS PELLEGRINI": "9 DE JULIO",
    "DIAGONAL NORTE": "9 DE JULIO",
    "RETIRO E": "RETIRO",
    "CORREO CENTRAL": "LEANDRO N. ALEM",
    "HUMBERTO I": "JUJUY",
    "ONCE": "PLAZA MISERERE",
    "URQUIZA": "GRAL. URQUIZA"
}

# Replace station names with their correct counterparts
fixed_df["ESTACION"] = fixed_df["ESTACION"].replace(station_merges)

# Re-group by date and station to sum totals and remove old station names
fixed_df = fixed_df.groupby(["FECHA", "ESTACION"], as_index=False).agg({"pax_TOTAL": "sum"})

# Display the modified DataFrame
print(fixed_df.head())

       FECHA        ESTACION  pax_TOTAL
0 2023-01-01      9 DE JULIO       2880
1 2023-01-01          ACOYTE        827
2 2023-01-01          AG√úERO        673
3 2023-01-01         ALBERTI        408
4 2023-01-01  ANGEL GALLARDO       1056

In [31]:
len(unique_stations)

78

In [45]:
for i in unique_stations:
    if i not in station_list:
        print(i)

In [46]:
for i in station_list:
    if i not in unique_stations:
        print(i)

In [23]:
# Define the remaining name corrections (spelling, abbreviations, full names)
name_fixes = {
    "AVENIDA DE MAYO": "AV. DE MAYO",
    "AVENIDA LA PLATA": "AV. LA PLATA",
    "MTRO CARRANZA": "MTRO CARRANZA MIGUEL ABUELO",
    "PZA. DE LOS VIRREYES": "PLAZA DE LOS VIRREYES EVA PERON",
    "PLAZA DE MAYO": "PLAZA DE MAYO CASA ROSADA",
    "INCLAN": "INCLAN MEZQUITA AL AHMAD",
    "PASTEUR": "PASTEUR AMIA",
    "TRIBUNALES": "TRIBUNALES TEATRO COLON",
    "DE LOS INCAS": "DE LOS INCAS PARQUE CHAS",
    "JUAN MANUEL DE ROSAS": "JUAN MANUEL DE ROSAS VILLA URQUIZA",
    "ENTRE RIOS": "ENTRE RIOS RODOLFO WALSH",
    "MORENO": "MARIANO MORENO"
}

# Apply the renaming
fixed_df["ESTACION"] = fixed_df["ESTACION"].replace(name_fixes)

# Display the cleaned DataFrame
print(fixed_df.head())

       FECHA        ESTACION  pax_TOTAL
0 2023-01-01      9 DE JULIO       2880
1 2023-01-01          ACOYTE        827
2 2023-01-01          AG√úERO        673
3 2023-01-01         ALBERTI        408
4 2023-01-01  ANGEL GALLARDO       1056

In [29]:
# Ensure all name fixes are correctly applied, including SANTA FE
final_name_fixes = {
    "AG√úERO": "AGUERO",
    "FACULTAD DE DERECHO": "FACULTAD DE DERECHO JULIETA LANTERI",
    "FEDERICO LACROZE": "F. LACROZE",
    "GENERAL BELGRANO": "BELGRANO",
    "LOS INCAS": "DE LOS INCAS PARQUE CHAS",
    "MALABIA": "MALABIA O. PUGLIESE",
    "MARIANO MORENO": "MORENO",
    "MEDRANO": "MEDRANO ALMAGRO",
    "MINISTRO CARRANZA": "MTRO CARRANZA MIGUEL ABUELO",
    "PATRICIOS": "PARQUE PATRICIOS",
    "ROSAS": "JUAN MANUEL DE ROSAS VILLA URQUIZA",
    "SAENZ PE√ëA": "SAENZ PENA",
    "SANTA FE": "SANTA FE CARLOS JAUREGUI",  # Ensuring Santa Fe is merged properly
    "TRONADOR": "TRONADOR VILLA ORTUZAR",
    "FLORES": "SAN JOSE DE FLORES"
}

# Apply renaming
fixed_df["ESTACION"] = fixed_df["ESTACION"].replace(final_name_fixes)

# Re-group to combine totals for merged names
fixed_df = fixed_df.groupby(["FECHA", "ESTACION"], as_index=False).agg({"pax_TOTAL": "sum"})

# Display the final, corrected DataFrame
print(fixed_df.head())

       FECHA        ESTACION  pax_TOTAL
0 2023-01-01      9 DE JULIO       2880
1 2023-01-01          ACOYTE        827
2 2023-01-01          AGUERO        673
3 2023-01-01         ALBERTI        408
4 2023-01-01  ANGEL GALLARDO       1056

In [43]:
# Apply the last correction
fixed_df["ESTACION"] = fixed_df["ESTACION"].replace({"SAENZ PE√ëA ": "SAENZ PENA"})

# Re-group to merge any remaining duplicate station entries
fixed_df = fixed_df.groupby(["FECHA", "ESTACION"], as_index=False).agg({"pax_TOTAL": "sum"})

# Display the fully corrected DataFrame
print(fixed_df.head())

       FECHA        ESTACION  pax_TOTAL
0 2023-01-01      9 DE JULIO       2880
1 2023-01-01          ACOYTE        827
2 2023-01-01          AGUERO        673
3 2023-01-01         ALBERTI        408
4 2023-01-01  ANGEL GALLARDO       1056

In [44]:
# Get unique station names, convert to a sorted list
unique_stations = sorted(fixed_df['ESTACION'].unique())

# Print the list
print("\nUnique Station Names:")
for station in unique_stations:
    print(station)

Unique Station Names:
9 DE JULIO
ACOYTE
AGUERO
ALBERTI
ANGEL GALLARDO
AV. DE MAYO
AV. LA PLATA
BELGRANO
BOEDO
BULNES
CALLAO
CALLAO - MAESTRO ALFREDO BRAVO
CARABOBO
CARLOS GARDEL
CASEROS
CASTRO BARROS
CATALINAS
CATEDRAL
CONGRESO
CONGRESO DE TUCUMAN
CONSTITUCION
CORDOBA
CORRIENTES
DE LOS INCAS PARQUE CHAS
DORREGO
ECHEVERRIA
EMILIO MITRE
ENTRE RIOS RODOLFO WALSH
F. LACROZE
FACULTAD DE DERECHO JULIETA LANTERI
FACULTAD DE MEDICINA
FLORIDA
GENERAL SAN MARTIN
GRAL. URQUIZA
HOSPITALES
INCLAN MEZQUITA AL AHMAD
INDEPENDENCIA
JOSE HERNANDEZ
JOSE MARIA MORENO
JUAN MANUEL DE ROSAS VILLA URQUIZA
JUJUY
JURAMENTO
LAS HERAS
LAVALLE
LEANDRO N. ALEM
LORIA
MALABIA O. PUGLIESE
MEDALLA MILAGROSA
MEDRANO ALMAGRO
MORENO
MTRO CARRANZA MIGUEL ABUELO
OLLEROS
PALERMO
PARQUE PATRICIOS
PASCO
PASTEUR AMIA
PICHINCHA
PIEDRAS
PLAZA DE LOS VIRREYES EVA PERON
PLAZA DE MAYO CASA ROSADA
PLAZA ITALIA
PLAZA MISERERE
PRIMERA JUNTA
PUAN
RETIRO
RIO DE JANEIRO
SAENZ PENA
SAN JOSE
SAN JOSE DE FLORES
SAN JUAN
SAN PEDRITO
SANTA FE CARLOS JAUREGUI
SCALABRINI ORTIZ
TRIBUNALES TEATRO COLON
TRONADOR VILLA ORTUZAR
URUGUAY
VARELA
VENEZUELA

In [47]:
fixed_df.to_csv("BA_Turnstile_Fixed.csv", index=False)