In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pickle
import math

In [2]:
with open("station_comuna_dict.pkl", "rb") as file:
    station_comuna_dict = pickle.load(file)
    
with open("ba_totals_dict.pkl", "rb") as file:
    totals_dict = pickle.load(file)
    
with open("ba_big station list.pkl", "rb") as file:
    station_list = pickle.load(file)
    
with open("BA Complete Commuter Matrix.pkl",'rb') as file:
    commuter_matrix = pickle.load(file)
    
with open("London Condensed Population Vector.pkl", "rb") as file:
    pop_vector = pickle.load(file)

In [3]:
np.sum(pop_vector)

np.float64(8866306.3149)

In [4]:
sorted_dict = dict(sorted(unsorted_dict.items(), key=lambda x: (not x[0][0].isdigit(), x[0])))

NameError: name 'unsorted_dict' is not defined

In [6]:
commuter_matrix

(78, 78)

In [7]:
import pandas as pd

# Loada the dataset
file_path = "Buenos Aires Travel Data.csv"  # Update with the correct path
df = pd.read_csv(file_path, encoding="latin1")  # Use latin1 in case of special characters

# Define column name mappings
column_mapping = {
    "ï»¿id_hogar": "household_id",
    "id_persona": "person_id",
    "id_viaje": "trip_id",
    "VII_2_activida_en_el_origen": "activity_at_origin",
    "VII_3_activida_en_el_destino": "activity_at_destination",
    "BH_NBH": "BH_NBH",
    "motivo": "trip_reason",
    "VII_9_veces_por_semana_viaja": "weekly_trip_frequency",
    "VIII_35_tarifa_combinada": "combined_fare",
    "jur_origen": "jurisdiction_origin",
    "jur_destino": "jurisdiction_destination",
    "partido_origen_viaje": "district_origin",
    "partido_destino_viaje": "district_destination",
    "cod_partido_origen": "district_origin_code",
    "cod_partido_destino": "district_destination_code",
    "hora_inicio": "start_time",
    "hora_final": "end_time",
    "duracion_minutos": "duration_minutes",
    "modo_des": "transport_mode",
    "radio_origen": "origin_radius",
    "radio_destino": "destination_radius",
    "PONDERA": "weight",
    "cantidad_etapas": "num_stages",
    "tipo_viaje": "trip_type",
    "menos_2_cuadras": "less_than_2_blocks",
    "Inluye_bici": "includes_bike",
    "viaja_rmba": "travels_in_RMBA",
    "distancia_viaje_km": "trip_distance_km",
}

# Rename the columns
df.rename(columns=column_mapping, inplace=True)

In [8]:
df

,household_id,person_id,trip_id,activity_at_origin,activity_at_destination,BH_NBH,trip_reason,weekly_trip_frequency,combined_fare,jurisdiction_origin,...,transport_mode,origin_radius,destination_radius,PONDERA,num_stages,trip_type,less_than_2_blocks,includes_bike,travels_in_RMBA,distancia_viaje_km
0,1,2,1,1,2,BH,2,5,0,6,...,5,61191009.0,61191001.0,503,1,PBA,0,no,1,4.38757
1,1,2,2,2,1,BH,2,5,0,6,...,5,61191001.0,61191009.0,503,1,PBA,0,no,1,4.38757
2,2,1,1,1,3,BH,3,88,0,6,...,4,61190702.0,61190302.0,464,1,PBA,0,no,1,11.88538
3,2,1,2,3,1,BH,3,88,0,6,...,4,61190302.0,61190702.0,464,1,PBA,0,no,1,11.88538
4,3,1,1,1,7,BH,7,88,0,6,...,3,61190702.0,61191007.0,462,1,PBA,0,no,1,12.40857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59447,16204,1,2,2,1,BH,2,5,0,6,...,4,65682102.0,20012607.0,"1,447",1,Interjurisdiccional,0,no,1,22.26443
59448,16207,1,1,1,15,BH,15,5,0,2,...,2,20012309.0,64080204.0,"1,706",1,Interjurisdiccional,0,no,1,24.88511
59449,16207,1,2,15,1,BH,15,5,0,6,...,2,64080208.0,20012309.0,"1,706",1,Interjurisdiccional,0,no,1,24.99248
59450,16207,1,3,1,15,BH,15,5,0,2,...,2,20012309.0,64080208.0,"1,706",1,Interjurisdiccional,0,no,1,24.99260
59451,16207,1,4,15,1,BH,15,5,0,6,...,2,64080208.0,20012309.0,"1,706",1,Interjurisdiccional,0,no,1,24.99248

In [28]:
df

,household_id,person_id,trip_id,activity_at_origin,activity_at_destination,BH_NBH,trip_reason,weekly_trip_frequency,combined_fare,jurisdiction_origin,...,transport_mode,origin_radius,destination_radius,PONDERA,num_stages,trip_type,less_than_2_blocks,includes_bike,travels_in_RMBA,distancia_viaje_km
0,1,2,1,1,2,BH,2,5,0,6,...,5,61191009.0,61191001.0,503,1,PBA,0,no,1,4.38757
1,1,2,2,2,1,BH,2,5,0,6,...,5,61191001.0,61191009.0,503,1,PBA,0,no,1,4.38757
2,2,1,1,1,3,BH,3,88,0,6,...,4,61190702.0,61190302.0,464,1,PBA,0,no,1,11.88538
3,2,1,2,3,1,BH,3,88,0,6,...,4,61190302.0,61190702.0,464,1,PBA,0,no,1,11.88538
4,3,1,1,1,7,BH,7,88,0,6,...,3,61190702.0,61191007.0,462,1,PBA,0,no,1,12.40857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59447,16204,1,2,2,1,BH,2,5,0,6,...,4,65682102.0,20012607.0,"1,447",1,Interjurisdiccional,0,no,1,22.26443
59448,16207,1,1,1,15,BH,15,5,0,2,...,2,20012309.0,64080204.0,"1,706",1,Interjurisdiccional,0,no,1,24.88511
59449,16207,1,2,15,1,BH,15,5,0,6,...,2,64080208.0,20012309.0,"1,706",1,Interjurisdiccional,0,no,1,24.99248
59450,16207,1,3,1,15,BH,15,5,0,2,...,2,20012309.0,64080208.0,"1,706",1,Interjurisdiccional,0,no,1,24.99260
59451,16207,1,4,15,1,BH,15,5,0,6,...,2,64080208.0,20012309.0,"1,706",1,Interjurisdiccional,0,no,1,24.99248

In [9]:
# Trim any leading or trailing spaces in column names
df.columns = df.columns.str.strip()

# Convert 'distancia_viaje_km' to numeric (handle potential string values)
df["distancia_viaje_km"] = pd.to_numeric(df["distancia_viaje_km"], errors="coerce")

# Filter dataset for home-based work trips within Buenos Aires City (CABA)
filtered_df = df[
    (df["trip_type"] == "CABA") &  # Trips within Buenos Aires City
    (df["trip_reason"] == 3)  # Assuming '3' corresponds to work trips
]

# Calculate the proportion of trips where the distance is under 1 km
proportion_under_1km = (filtered_df["distancia_viaje_km"] < 1).mean()

# Display result
print(f"Proportion of trips under 1km: {proportion_under_1km:.2%}")

Proportion of trips under 1km: 13.28%

In [39]:
proportion_under_1km = (filtered_df["distancia_viaje_km"] < 1).mean()

KeyError: 'distancia_viaje_km'

In [43]:
commuter_matrix

array([[  0., 219., 612., ..., 314., 132.,   0.],
       [389.,   0., 107., ..., 330.,  42.,   0.],
       [569.,  88.,   0., ..., 461.,  64.,   0.],
       ...,
       [311., 162., 497., ...,   0., 112.,   0.],
       [219.,  53., 147., ..., 200.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.]])

In [46]:
new_commuter_matrix = np.copy(commuter_matrix)

for i in range(78):
    row_total = np.sum(commuter_matrix[i])
    home_workers = row_total*(0.1328/(1-0.1328))
    new_commuter_matrix[i][i] = np.round(home_workers,0)
    
new_commuter_matrix

array([[4021.,  219.,  612., ...,  314.,  132.,    0.],
       [ 389., 2356.,  107., ...,  330.,   42.,    0.],
       [ 569.,   88., 1727., ...,  461.,   64.,    0.],
       ...,
       [ 311.,  162.,  497., ..., 2899.,  112.,    0.],
       [ 219.,   53.,  147., ...,  200., 1455.,    0.],
       [   0.,    0.,    0., ...,    0.,    0.,    0.]])

In [48]:
# with open("BA Complete Commuter Matrix.pkl",'wb') as f:
    # pickle.dump(new_commuter_matrix,f)